<div id="footer">
	<div id="footer_contain">		
		<p>Around here, you can visit the <a href="/colophon">colophon</a>, <a href="/blog">blog</a>, <a href="/portfolio">portfolio</a>, or <a href="#">things I love</a>. 
		<br />
		Elsewhere, you can find me on <a href="http://twitter.com/jpcody" rel="me">Twitter</a>, <a href="http://flickr.com/photos/jpcody/" rel="me">Flickr</a>, <a href="http://pinboard.in/u:jpcody/" rel="me">Pinboard</a>, or <a href="http://www.churchmarketingsucks.com/bios/joshuacody.html" rel="me">Church Marketing Sucks</a>. 
		<br />
		&copy; Joshua Cody 2010, best viewed in <a href="http://www.apple.com/safari/download/">Safari</a> or <a href="http://www.google.com/chrome">Chrome</a>. Thanks for stopping by.</p>	
	</div><!-- end #footercontain -->
</div><!-- end #footer -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>