RewriteEngine On

# Map http://joshuacody.net to /site/blog.html.
RewriteRule ^$ /site/_site/blog.html [L]

# Map http://joshuacody.net/xyz to /site/xyz unless there is an x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/site/_site/%{REQUEST_URI}\.html !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/site/_site/
RewriteRule ^(.*)$ /site/_site/$1

# Allow access without .html extension
RewriteCond %{DOCUMENT_ROOT}/site/_site/%{REQUEST_URI}\.html -f
RewriteRule ^(.*)$ /site/_site/$1\.html

# Add trailing slash to directories without them so DirectoryIndex works.
# This does not expose the internal URL.
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !/$
RewriteRule ^(.*)$ $1/

# Disable auto-adding slashes to directories without them, since this happens
# after mod_rewrite and exposes the rewritten internal URL, e.g. turning
# http://www.example.com/about into http://www.example.com/jekyll/about.
DirectorySlash off