---
layout: default
---

<div class="contain" id="colophon">
    <h1>Colophon</h1>	
	<div id="colophon_photos">
		<img src="/images/colophon-img/meandwife.jpg" alt="Caroline and me" id="col_img_1"/>	
		<img src="/images/colophon-img/mt_hood.jpg" alt="Mt. Hood" id="col_img_2"/>	
		<img src="/images/colophon-img/portland.jpg" alt="Portland" id="col_img_3"/>	
	</div><!-- end .colophon_photos -->
    <div class="colophon_col">
	{{ content }}
	</div><!-- end.colophonc-col -->
</div><!-- end .contain #colophon  -->